// Vertical align
@include tui('.align-baseline, .v-align-baseline') {
  vertical-align: baseline !important; // Browser default
}

@include tui('.align-top, .v-align-top') {
  vertical-align: top !important;
}

@include tui('.align-middle, .v-align-middle') {
  vertical-align: middle !important;
}

@include tui('.align-bottom, .v-align-bottom') {
  vertical-align: bottom !important;
}

@include tui('.align-text-bottom, .v-align-text-bottom') {
  vertical-align: text-bottom !important;
}

@include tui('.align-text-top, .v-align-text-top') {
  vertical-align: text-top !important;
}