// Text

// Alignment

@include tui('.text-justify') {
  text-align: justify !important;
}
@include tui('.text-nowrap') {
  white-space: nowrap !important;
}
@include tui('.text-truncate') {
  @include text-truncate;
}

@mixin text-utils($infix) {
  @include tui('.text#{$infix}-left, .text-left#{$infix}') {
    text-align: left !important;
  }
  @include tui('.text#{$infix}-right, .text-right#{$infix}')  {
    text-align: right !important;
  }
  @include tui('.text#{$infix}-center, .text-center#{$infix}') {
    text-align: center !important;
  }
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include text-utils($infix);

    @if ($infix == "") {
      @include text-utils('-xs');
    }
  }
}

// Transformation

@include tui('.text-lowercase') {
  text-transform: lowercase !important;
}
@include tui('.text-uppercase') {
  text-transform: uppercase !important;
}
@include tui('.text-capitalize') {
  text-transform: capitalize !important;
}

// Weight and italics

@include tui('.font-weight-light') {
  font-weight: $font-weight-light !important;
}
@include tui('.font-weight-normal') {
  font-weight: $font-weight-normal !important;
}
@include tui('.font-weight-bold') {
  font-weight: $font-weight-bold !important;
}
@include tui('.font-italic') {
  font-style: italic !important;
}

// Contextual colors

@include tui('.text-white') {
  color: #fff !important;
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@include tui('.text-muted') {
  color: $text-muted !important;
}

// Misc

@include tui('.text-hide') {
  @include text-hide();
}
