@include tui('.fade') {
  opacity: 0;
  @include transition($transition-fade);

  &.show {
    opacity: 1;
  }
}

@include tui('.collapse') {
  display: none !important;
  &.show {
    display: block !important;
  }
}

@include tui(tr) {
  &.collapse.show {
    display: table-row !important;
  }
}

@include tui(tbody) {
  &.collapse.show {
    display: table-row-group !important;
  }
}

@include tui('.collapsing-height') {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse-height);
}

@include tui('.collapsing-width') {
  position: relative;
  width: 0;
  overflow: hidden;
  @include transition($transition-collapse-width);
}