// Alert

@include tui('.alert') {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

@include tui('.alert-heading') {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

@include tui('.alert-link') {
  font-weight: $alert-link-font-weight;
}

@include tui('.alert-dismissible') {
  padding-right: ($close-font-size + $alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}

@each $color, $value in $theme-colors {
  @include tui('.alert-#{$color}') {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}
