// Grid system


// container
@include tui('.container') {
  @include make-container();
  @include make-container-max-widths();
}
@include tui('.container-fluid') {
  @include make-container();
}


//// row
//@include tui('.row') {
//  @include make-row();
//}
//@include tui('.row') {
//  &:not(.flexible) {
//    @include clearfix2();
//    @include make-columns();
//  }
//}

// flex row
@include tui('.row') {
  &.flexible {
    @include make-flex-row();
    // column
    @include make-flex-columns();
  }
  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

