// 包含 .tui 的元素及其::before和::after都将盒子模型设置为border-box
@include tui('*') {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// 如果html元素包含.tui
html {
  &.tui {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

// 这个看情况要不要
// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

// 其他
@include tui(datalist) {
  display: none;
}

@include tui(table) {
  display: table;
}

// normalize

@include tui(hr) {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

@include tui(pre) {
  font-family: monospace monospace;
}

@include tui(a) {
  background-color: transparent;
}

@include tui("abbr[title]") {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
}

@include tui("b, strong") {
  font-weight: bolder;
}

@include tui("code, kbd, samp") {
  font-family: monospace, monospace;
  font-size: inherit;
}

@include tui(small) {
  font-size: 80%;
}

@include tui("sub, sup") {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@include tui(sub) {
  bottom: -0.25em;
}
@include tui(sup) {
  top: -0.5em;
}

@include tui(img) {
  border-style: none;
}


@include tui("button, input, optgroup, select, textarea") {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.15;
  margin: 0;
}

@include tui("button, input") {
  overflow: visible;
}

@include tui("button, select") {
  text-transform: none;
}


@include tui('button, [type="button"], [type="reset"], [type="submit"]') {
  -webkit-appearance: button;
}


@include tui('button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring') {
  outline: 1px dotted ButtonText;
}

@include tui(fieldset) {
  padding: 0.35rem 0.75rem 0.625rem;
}

@include tui(legend) {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

@include tui(progress) {
  vertical-align: baseline;
}

@include tui(textarea) {
  overflow: auto;
}

@include tui('[type="checkbox"], [type="radio"]') {
  box-sizing: border-box;
  padding: 0;
}

@include tui('[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button') {
  height: auto;
}

@include tui('[type="search"]') {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

@include tui('[type="search"]::-webkit-search-decoration') {
  -webkit-appearance: none;
}

@include tui('::-webkit-file-upload-button') {
  -webkit-appearance: button;
  font: inherit;
}

@include tui('template, [hidden]') {
  display: none;
}

@include tui(details) {
  display: block;
}

@include tui(summary) {
  display: list-item;
}