@charset "UTF-8";

@import "functions";
@import "variables";
@import "mixins";

@include tui('.td-example') {
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
  border: .2rem solid #f7f7f9;

  .td-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;

    .td-example-container-header {
      height: 3rem;
      margin-bottom: .5rem;
      background-color: silver;
      border-radius: .25rem;
    }
    .td-example-container-sidebar {
      float: right;
      width: 4rem;
      height: 8rem;
      background-color: #80bdff;
      border-radius: .25rem;
    }
    .td-example-container-body {
      height: 8rem;
      margin-right: 4.5rem;
      background-color: #957bbe;
      border-radius: .25rem;
    }
  }
  .td-example-container-fluid {
    max-width: none;
  }
  &.show-grid {
    .row {
      &:hover {
        outline: 2px dashed theme-color('primary');
      }
    }
    .col, [class^="col-"] {
      background-color: rgba(86,61,124,.15);
      border: 1px solid rgba(86,61,124,.2);
      padding-top: .75rem;
      padding-bottom: .75rem;
      &:hover {
        background-color: rgba(86,61,124,.2);
      }
    }
  }
}

@include tui('.td-code') {
  background-color: #f8f8f8;
  margin-bottom: 1rem;
}

@include tui('pre.highlight') {
  position: relative;
  margin-bottom: 0 ;
  padding: 1rem;

  &::after {
    display: block;
    content: "代码";
    position: absolute;
    top: 0;
    right: .5rem;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    white-space: nowrap;
  }
}
